#footer {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  margin-left: 60px;
  color: #333333;
  background-color: transparent;
  border: none;
}

#footer a {
  color: #0d5297;
  text-decoration: none;
}

@media (max-width: 1425px) {
  #footer {
    margin-left: 0px;
  }
}
